<!-- Yeni yapılacak ekleme modeli -->
<ng-template #addNewTodoModal let-modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yeni Yapılacak Ekle</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Yeni yapılacak ekleme formu -->
        <form (ngSubmit)="addNewTodo()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Yapılacak adı" [(ngModel)]="newTodoTitle" [ngModelOptions]="{ standalone: true }" (keyup.enter)="addNewTodo()">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Kaydet</button>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- ... -->
      </div>
    </div>
  </div>
</ng-template>

<!-- Düzenleme Modeli -->
<ng-template #editTodoModal let-modal>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Yapılacak Düzenle</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Yeni subtask ekleme formu -->
        <form (ngSubmit)="addSubTask()">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Yeni alt görev adı" [(ngModel)]="newSubTaskName" [ngModelOptions]="{ standalone: true }" (keyup.enter)="addSubTask()">
          </div>
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Ekle</button>
          </div>
        </form>
        
        <!-- Alt görevlerin listesi -->
        <ul class="list-group mt-3">
          <li class="list-group-item" *ngFor="let subTask of todos[currentIndex]?.subtasks; let j = index">
            {{ subTask.title }}
            <button class="btn btn-danger btn-sm float-right" (click)="deleteSubTask(currentIndex,j)">Sil</button>
          </li>
        </ul>
        
      </div>
      <div class="modal-footer">
        <!-- ... -->
      </div>
    </div>
  </div>
</ng-template>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/home']">Todo Uygulaması</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Anasayfa</a>
        </li>
        <li class="nav-item">
          <span class="nav-link">Kullanıcı: {{ username }}</span>
        </li>
      <li class="nav-item">
        <a class="nav-link" (click)="logout()">Çıkış</a>
      </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Todo Listesi -->
<div class="container">
  <div class="text-center mb-3">
    <button class="btn btn-success" (click)="openAddTodoModal(addNewTodoModal)">Yeni Yapılacak Ekle</button>
  </div>

  <!-- Yeni todo eklemek için modal -->
  <ng-template #addNewTodoModal let-modal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Yeni Yapılacak Ekle</h5>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Yeni yapılacak ekleme formu -->
          <form (ngSubmit)="addNewTodo()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Yapılacak adı" [(ngModel)]="newTodoTitle" [ngModelOptions]="{ standalone: true }" (keyup.enter)="addNewTodo()">
            </div>
            <div class="text-right">
              <button type="submit" class="btn btn-primary">Kaydet</button>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <!-- ... -->
        </div>
      </div>
    </div>
  </ng-template>


  <div class="row justify-content-center">
    <div *ngFor="let todo of todos; let i = index" class="col-md-4">
      <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="d-flex align-items-center">
            
            <span [class.completed]="areAllSubtasksCompleted(todo)">{{ todo.title }}</span>
          </div>
          <div>
            <button class="btn btn-sm btn-primary mr-2" (click)="openEditModal(i)">Düzenle</button>
            <button class="btn btn-sm btn-danger" (click)="deleteTask(i)">X</button>
          </div>
        </div>
        <div class="card-body">
          <div *ngFor="let subTask of todo.subtasks; let j = index" class="form-check">
            <input class="form-check-input" type="checkbox" [id]="'subTask' + j" [(ngModel)]="subTask.completed" (change)="updateSubTaskCompletion(subTask.subtask_id, subTask.completed)">
            <label class="form-check-label" [for]="'subTask' + j" [class.completed]="subTask.completed">{{ subTask.title }}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>