<header class="site-header">
    <h1>Berk's Application Hub</h1>
  </header>
<div class="hub-container">
    <div class="hub-item" (click)="goToTodo()">
      <img src="assets/todo.png" alt="Todo App">
      <span>Todo App</span>
    </div>
    <div class="hub-item">
      <!-- Eğer resim yoksa, beyaz bir alan -->
      <div class="placeholder"></div>
      <span>Uygulama 2</span>
    </div>
    <div class="hub-item">
        <!-- Eğer resim yoksa, beyaz bir alan -->
        <div class="placeholder"></div>
        <span>Uygulama 3</span>
      </div>
      <div class="hub-item">
        <!-- Eğer resim yoksa, beyaz bir alan -->
        <div class="placeholder"></div>
        <span>Uygulama 4</span>
      </div>
      <div class="hub-item">
        <!-- Eğer resim yoksa, beyaz bir alan -->
        <div class="placeholder"></div>
        <span>Uygulama 5</span>
      </div>
      <div class="hub-item">
        <!-- Eğer resim yoksa, beyaz bir alan -->
        <div class="placeholder"></div>
        <span>Uygulama 6</span>
      </div>
      <div class="hub-item">
        <!-- Eğer resim yoksa, beyaz bir alan -->
        <div class="placeholder"></div>
        <span>Uygulama 7</span>
      </div>
      <div class="hub-item">
        <!-- Eğer resim yoksa, beyaz bir alan -->
        <div class="placeholder"></div>
        <span>Uygulama 8</span>
      </div>
      <div class="hub-item">
        <!-- Eğer resim yoksa, beyaz bir alan -->
        <div class="placeholder"></div>
        <span>Uygulama 9</span>
      </div>
    <!-- Diğer 7 adet hub-item -->
    <!-- ... -->
  </div>